## Exercise 2 : Python Variables
* 1) Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

* 2) Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

* 3) Store your first, middle and last name in three different variables and then print your full name using these variables

* 4) Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [1]:
# Qs 1
 # break = 5 This is not valid bcz break is reserved variable

In [2]:
# Qs 2
birth_year = 2000
current_year = 2023
age = current_year - birth_year
print(age)

23

In [3]:
# Qs 3
first_name = "Abdul"
Middle_name = "Raziq"
Last_name = "Barkat Ali"
Full_name = f'{first_name} {Middle_name} {Last_name}'
print(Full_name)

Abdul Raziq Barkat Ali

In [4]:
# Qs 4

## Exercise 3 : Numbers in python
* 1) You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
* 2)You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out     using python, how many dollars is the shopkeeper going to give you back?
* 3)You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)
* 4)Print binary representation of number 17

In [5]:
# 1) You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
l=92;
b=48.8;
A=l*b;
print(A)

4489.599999999999

#### 2)You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [6]:
packets = 9
Each_cost= 1.49
payment = 20
return_payment = payment - (packets*Each_cost)
print(return_payment)

6.59

3)You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [7]:
l=5.5
cost=500
Area=l**2
print(Area)
Total_cost=Area*cost
print(Total_cost)

30.25
15125.0

4) Print binary representation of number 17

In [8]:
print(format(17,"b"))
print(format(22,"b"))

10001
10110

## Exercise 4: String in Python
* 1) Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
* 2) Create a variable to store the string "Earth revolves around the sun"
* 3) Print "revolves" using slice operator
* 4) Print "sun" using negative index
* 5) Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
* 6) I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

1) Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [9]:
street = "1453"
city = "Karachi"
country = "Pakistan"
Address = street +"\n"+city+"\n"+country+"\n"
print(Address)

Address2= f"{street}\n{city}\n{country}"
print(Address2)

1453
Karachi
Pakistan

1453
Karachi
Pakistan

* 2) Create a variable to store the string "Earth revolves around the sun"
* 3) Print "revolves" using slice operator
* 4) Print "sun" using negative index

In [10]:
earth = "Earth revolves around the sun";
print(earth[6:14:1])
print(earth[-3:])

revolves
sun

5) Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [11]:
fruit="2";
vegatable="4";
msg=f"I eat {fruit} veggies and {vegatable} fruits daily"
print(msg)

I eat 2 veggies and 4 fruits daily

6) I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original string with new ones and print the new string. Also try to do this in one line

In [12]:
s='maine 200 banana khaye'
s.replace("200 banana","10 samosa")

'maine 10 samosa khaye'

## Exercise 5 : Python Lists

Exercise: Python Lists
* Q 1 ) Let us say your expense for every month are listed below,
* January - 2200
* February - 2350
* March - 2600
* April - 2130
* May - 2190
* Create a list to store these monthly expenses and using that find out,

* 1. In Feb, how many dollars you spent extra compare to January?
* 2. Find out your total expense in first quarter (first three months) of the year.
* 3. Find out if you spent exactly 2000 dollars in any month
* 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
* 5. You returned an item that you bought in a month of April and
* got a refund of 200$. Make a correction to your monthly expense list based on this
* Q2 ) You have a list of your favourite marvel super heros.
*     heros=['spider man','thor','hulk','iron man','captain america']
*     Using this find out,

*  1. Length of the list
*  2. Add 'black panther' at the end of this list
*  3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
* 4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
* 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [13]:
#Q1 
expenses = [2200,2350,2600,2130,2190]
feb_extra_expense = expenses[1]-expenses[0]
print(feb_extra_expense)

first_quarter_expense=expenses[0]+expenses[1]+expenses[2]
print(first_quarter_expense)

find_2000 = 2000 in expenses
print(find_2000)

expenses.append(1980)
print(expenses)

april_adjusted = expenses[3]-200
print(april_adjusted)
expenses[3]=april_adjusted
print(expenses)

150
7150
False
[2200, 2350, 2600, 2130, 2190, 1980]
1930
[2200, 2350, 2600, 1930, 2190, 1980]

In [14]:
# Q2
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))

heros.append("black panther")
print(heros)
print(len(heros))

heros.remove("black panther")
print(heros)
heros.insert(3,"black panther")
print(heros)

heros[1:3]=["dr Strange"]
print(heros)

heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
6
['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'dr Strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'dr Strange', 'iron man', 'spider man']

## Exercise 08

Exercise: Python If Condition
* Q1) Using following list of cities per country,
* india = ["mumbai", "banglore", "chennai", "delhi"]
* pakistan = ["lahore","karachi","islamabad"]
* bangladesh = ["dhaka", "khulna", "rangpur"]
* Write a program that asks user to enter a city name and it should tell which country the city belongs to
* Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"
* Q2) Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
* Ask user to enter his fasting sugar level
* If it is below 80 to 100 range then print that sugar is low
* If it is above 100 then print that it is high otherwise print that it is normal

In [15]:
# Q1 (i)

city_name = input("Enter the City name you want to travel: ")
city_name = city_name.lower()
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
if city_name in india:
    print("This city belongs to India")
elif city_name in pakistan:
    print("This city belongs to Pakistan")
elif city_name in bangladesh:
    print("This city belongs to bangladeh")
else: {
   print("This city is not in the list")
}

Enter the City name you want to travel: karachi
This city belongs to Pakistan

In [16]:
# Q1(ii)
city_name1=input("Enter the first City")
city_name2=input("Enter the second city")
city_name1 = city_name1.lower()
city_name2 = city_name2.lower()
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

if(city_name1 in india and city_name2 in india):
    print("They both belongs to same country ")
elif(city_name1 in pakistan and city_name2 in pakistan):
    print("They both belongs to same country ")
elif(city_name1 in bangladesh and city_name2 in bangladesh):
    print("They both belongs to same country ")
else:
    print("Both did not belong to same country ")

Enter the first Citykarachi
Enter the second citylkara
Both did not belong to same country

In [17]:
# Q2) 
sugar_level=int(input("Enter your sugar level"))
if (sugar_level>=80 and sugar_level<=100):
    print("Sugar is low")
elif(sugar_level>=100):
    print("Sugar is high")
else:
    print("It is normal")

Enter your sugar level44
It is normal

## Exercise 09

* Exercise: Python for loop
* After flipping a coin 10 times you got this result,
* result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
* Using for loop figure out how many times you got heads

* Print square of all numbers between 1 to 10 except even numbers
* Your monthly expense list (from Jan to May) looks like this,
* expense_list = [2340, 2500, 2100, 3100, 2980]
* Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If   expense is not found then it should print that as well.

* Lets say you are running a 5 km race. Write a program that,

* Upon completing each 1 km asks you "are you tired?"
* If you reply "yes" then it should break and print "you didn't finish the race"
* If you reply "no" then it should continue and ask "are you tired" on every km
* If you finish all 5 km then it should print congratulations message
* Write a program that prints following shape

* '   *   '
* '   **  '
* '   ***  '
* '   ****  '
* '   ***** '

In [18]:
# Qs 1
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count = 0
for i in result:
    if i=="heads":
        count += 1
print(count)

4

In [19]:
# Q2) Print square of all numbers between 1 to 10 except even numbers
for i in range(1,11):
    if i%2!=0:
        print(i**2)

1
9
25
49
81

In [20]:
# Q2) Print square of all numbers between 1 to 10 except even numbers # Another Method
for i in range(10):
    if i%2==0:
        continue
    print(i*i)

1
9
25
49
81

#### Q3)expense_list = [2340, 2500, 2100, 3100, 2980]

#### Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

In [21]:
expense_list = [2340, 2500, 2100, 3100, 2980]
month_list = ["January", "February", "March", "April", "May"]
expense_amount=int(input("Enter your expenses"))
found = False 
for i in range(len(expense_list)):
    if expense_list[i]==expense_amount :
        print(f"You spent {expense_amount}in {month_list[i]}")
        found = True
if not found :
    print(f"Expense of {expense_amount} not found in any month.")

Enter your expenses34
Expense of 34 not found in any month.

Q4) Lets say you are running a 5 km race. Write a program that,

Upon completing each 1 km asks you "are you tired?"

If you reply "yes" then it should break and print "you didn't finish the race"

If you reply "no" then it should continue and ask "are you tired" on every km

If you finish all 5 km then it should print congratulations message

In [22]:
for i in range(1,5):
    print(f"You run {i} miles")
    tired=input("Are you tired: ")
    if (tired =="yes"):
        print("You didnot finish the race ")
        break 
        
    if(i==4):
        print("CONg")
    elif(tired=="no"):
        continue

You run 1 miles
Are you tired: yes
You didnot finish the race

Q5) Write a program that prints following shape

' * '

' ** '

' *** '

' **** '

' ***** '

In [23]:
for i in range(6):
    s=""
    for j in range(i):
        s +="*"
    print(s)

*
**
***
****
*****

## Exercise10: Functions in python
* Q1) Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation   of  an area of a triangle is,
* area = (1/2)*base*height
* Q2) Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type   it will calculate area. Equation of rectangle's area is,
* rectangle area=length*width
* If no shape is supplied then it should take triangle as a default shape

* Q3) Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,
* "*"
* "**"
* "***"
* if input is 4 then it should print

* "*"
* "**"
* "***"
* "****"
* Basically number of lines it prints is equal to that number. (Hint: you need to use two for loops)

In [24]:
# Question 01
def calculate_area(base,height):
    area = (1/2)*base*height
    return area 
calculate_area(5,4)

10.0

In [25]:
# Question 02
def calculate_area_shape(base,height,shape):
    shape=shape.lower()
    if (shape == "rectangle"):
        area=base*height
    elif(shape == "triangle"):
        area = (1/2)*base*height
    else:
        print("write correct name of shape")
    return area 
print(calculate_area_shape(4,5,"rectangle"))
print(calculate_area_shape(4,5,"triangle"))
print(calculate_area_shape(4,5,"TRIANGLE"))

20
10.0
10.0

In [26]:
# Question 03
def print_pattern(num1):
    num1=int(num1)
    for i in range(num1):
        s=""
        for j in range(i+1):
            s += "*"
        print(s)
print_pattern(4)
print_pattern(3)

*
**
***
****
*
**
***

## Exercise 11 
* 1)  We have following information on countries and their population (population is in crores),

* Country	Population
* China	143
* India	136
* USA	32
* Pakistan	21
* Using above create a dictionary of countries and its population
* Write a program that asks user for three type of inputs,
* print: if user enter print then it should print all countries with their population in this format,
* china==>143
* india==>136
* usa==>32
* pakistan==>21
* add: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it     should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in     our dictionary and print it
* remove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and     print new dictionary using format shown above in (a). Else print that country doesn't exist!
* query: on this again ask user for which country he or she wants to query. When user inputs that country it will print           population of that country.

* 2)You are given following list of stocks and their prices in last 3 days,

* Stock	Prices
* info	[600,630,620]
* ril	[1430,1490,1567]
* mtl	[234,180,160]
* Write a program that asks user for operation. Value of operations could be,
* print: When user enters print it should print following,
* info ==> [600, 630, 620] ==> avg:  616.67
* ril ==> [1430, 1490, 1567] ==> avg:  1495.67
* mtl ==> [234, 180, 160] ==> avg:  191.33
* add: When user enters 'add', it asks for stock ticker and price. If stock already exist in your list (like info, ril etc) then   it will append the price to the list. Otherwise it will create new entry in your dictionary. For example entering 'tata' and     560 will add tata ==> [560] to the dictionary of stocks.
* 3) Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area,      circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them

In [27]:
# Question 01

population = {
    "china":143,
    "india":136,
    "usa":32,
    "pakistan":21
}
def print_all():
    for country,i in population.items():
        print(f'{country} => {i}')

def add_all():
    country= input("Enter the country you want to add: ").lower()
    country=country.lower()
    if country in population:
        print ("This country already exits in this list ")
    else:
        country_population=float(input("Enter the population of country"))
        population[country]=country_population
        return print_all()
#(add_all())

def remove():
    country=input("Enter the country you want to remove: ").lower() 
    if country in population:
        del population[country]
        print_all()
    else:
        print("The country you entered does not exist ")
        print_all()
# remove()  

def query():
    query_input=input("Enter your query").lower()
    if query_input in population :
        print(f'{population[query_input]} crore')
    else:
        return "This country does not exist "
# query()

def main ():
    user_input=input("Enter the function you want to perform: ").lower()
    if user_input=="print":
        print_all()
    elif user_input=="add":
        add_all()
    elif user_input=="remove":
        remove()
    elif user_input=="query":
        query()
    else:
        print("plz enter correct function")
    
main()

Enter the function you want to perform: print
china => 143
india => 136
usa => 32
pakistan => 21

In [28]:
# Q2

stocks = {
    "info":[600,630,620],
    "ril":[1430,1490,1567],
    "mtl":[234,180,160]
}
def stocks_operation():
    user_input=input("Enter the operation you want to perform").lower()
    if user_input=="print":
        for stock,prices in stocks.items():
            mean=sum(prices)/len(prices)
            mean_rounded=round(mean,2)
            print(f'{stock} ==> {prices} ==>  {mean_rounded}')
    elif user_input=="add":
        stock_name=input("Enter the stock name").lower()
        stock_price=float(input("Enter the stocks price"))
        if stock_name in stocks:
            stocks[stock_name].append(stock_price)
            for stock,prices in stocks.items():
                mean=sum(prices)/len(prices)
                mean_rounded=round(mean,2)
                print(f'{stock} ==> {prices} ==>  {mean_rounded}')
        elif stock_name not in stocks:
            stocks[stock_name]=[stock_price]
            for stock,prices in stocks.items():
                mean=sum(prices)/len(prices)
                mean_rounded=round(mean,2)
                print(f'{stock} ==> {prices} ==>  {mean_rounded}')
stocks_operation()

Enter the operation you want to performpirn

Question 03
*  Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area,        circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them

In [29]:
def circle_calc(radius):
    area = 3.142*radius**2;
    circumference = 2*3.142*radius
    diameter = 2*radius
    return area,circumference,diameter
circle_calc(5)

(78.55, 31.419999999999998, 10)

# Exercise 13 File Handling
* Take qs from github directly

Q1) poem.txt contains famous poem "Road not taken" by poet Robert Frost. You have to read this file in your python program and find out words with maximum occurance.

In [30]:
word_stats ={}
with open("./File_Handling_Practice_files/poem.txt") as f:
    for line in f:
        words=line.split(" ")
        for word in words:
            if word in word_stats:
                word_stats[word]+=1
            else:
                word_stats[word]=1
print(word_stats)
word_list=list(word_stats.values())
print(word_list)
max_occurence=max(word_list)
print(max_occurence)
for word,counts in word_stats.items():
    if max_occurence==counts:
        print(f"The max occurence of '{word}' are{counts}")

{'Two': 2, 'roads': 2, 'diverged': 2, 'in': 3, 'a': 3, 'yellow': 1, 'wood,\n': 1, 'And': 6, 'sorry': 1, 'I': 8, 'could': 1, 'not': 1, 'travel': 1, 'both\n': 1, 'be': 2, 'one': 3, 'traveler,': 1, 'long': 1, 'stood\n': 1, 'looked': 1, 'down': 1, 'as': 5, 'far': 1, 'could\n': 1, 'To': 1, 'where': 1, 'it': 2, 'bent': 1, 'the': 8, 'undergrowth;\n': 1, '\n': 3, 'Then': 1, 'took': 2, 'other,': 1, 'just': 1, 'fair,\n': 1, 'having': 1, 'perhaps': 1, 'better': 1, 'claim,\n': 1, 'Because': 1, 'was': 1, 'grassy': 1, 'and': 3, 'wanted': 1, 'wear;\n': 1, 'Though': 1, 'for': 2, 'that': 3, 'passing': 1, 'there\n': 1, 'Had': 1, 'worn': 1, 'them': 1, 'really': 1, 'about': 1, 'same,\n': 1, 'both': 1, 'morning': 1, 'equally': 1, 'lay\n': 1, 'In': 1, 'leaves': 1, 'no': 1, 'step': 1, 'had': 1, 'trodden': 1, 'black.\n': 1, 'Oh,': 1, 'kept': 1, 'first': 1, 'another': 1, 'day!\n': 1, 'Yet': 1, 'knowing': 1, 'how': 1, 'way': 1, 'leads': 1, 'on': 1, 'to': 1, 'way,\n': 1, 'doubted': 1, 'if': 1, 'should': 1, 'ever': 1, 'come': 1, 'back.\n': 1, 'shall': 1, 'telling': 1, 'this': 1, 'with': 1, 'sigh\n': 1, 'Somewhere': 1, 'ages': 2, 'hence:\n': 1, 'wood,': 1, 'Iâ€”\n': 1, 'less': 1, 'traveled': 1, 'by,\n': 1, 'has': 1, 'made': 1, 'all': 1, 'difference.': 1}
[2, 2, 2, 3, 3, 1, 1, 6, 1, 8, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 2, 1, 8, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
8
The max occurence of 'I' are8
The max occurence of 'the' are8

## Question 02

In [31]:
with open("./File_Handling_Practice_files/stocks.txt") as f ,open("./File_Handling_Practice_files/output.csv", mode="w")as out:
    out.write("Company Name,PE Ratio,PB Ratio\n")
    next(f)
    for line in f:
        tokens=line.split(",")
        company_name=tokens[0]
        price=float(tokens[1])
        eps=float(tokens[2])
        bv=float(tokens[3])
        pe_ratio=float(price/eps)
        price_to_book_value=float(price/bv)
        out.write(f"{company_name},{pe_ratio},{price_to_book_value}\n")

## Exercise 16 Class And Objects (OOP)
* Create a sample class named Employee with two attributes id and name
* employee :
    id
    name
* object initializes id and name dynamically for every Employee object created.

* emp = Employee(1, "coder")
* Use del property to first delete id attribute and then the entire object

In [32]:
## Q1 
class Employee():
    def __init__(self,id1,name):
        self.id=id1
        self.name=name
    def display(self):
        print(f'Employee id is {self.id} and name is {self.name}')
emp=Employee(1,"coder")
emp.display()

Employee id is 1 and name is coder

In [33]:
## Q2

class Employee():
    def __init__(self,id1,name):
        self.id=id1
        self.name=name
    def display(self):
        print(f'Employee id is {self.id} and name is {self.name}')
emp=Employee(1,"coder")
emp2=Employee(2,"Programmer")
emp.display()
emp2.display()

del emp.id

try:
    print(emp.id)
except AttributeError:
    print(AttributeError)

Employee id is 1 and name is coder
Employee id is 2 and name is Programmer
<class 'AttributeError'>

## Exercise17: Inheritance
* create inheritance using animal Dog relation.
* for example, 
    Animal and Dog both has same habitat so create a method for habitat 
* use super() constructor for calling parent constructor.
* class Animal:
    #code

* class Dog(Animal):
    super()-it refers Animal class,now you can call Animal's methods.

In [34]:
class Animal():
    def __init__(self,habitat):
        self.habitat=habitat
    def bark(self,words):
        self.words=words

class Dog(Animal):
    def __init__(self,habitat,sleep):
        super().__init__(habitat)
        self.sleep=sleep

In [35]:
a1=Animal("Forest")
print(vars(a1))
a1.bark("bahu")
print(vars(a1))
d1=Dog("city","peacefully")
print(vars(d1))
d1.bark("bahu1")

{'habitat': 'Forest'}
{'habitat': 'Forest', 'words': 'bahu'}
{'habitat': 'city', 'sleep': 'peacefully'}

In [36]:
for i in dir(d1):
    if "_" not in i:
        print(i)

bark
habitat
sleep
words

In [37]:
for i in dir(a1):
    if "_" not in i:
        print(i)

bark
habitat
words

## Exercise18: Multiple Inheritance
* Real Life Example :

* Q 1) Create multiple inheritance on teacher,student and youtuber.
* Q 2). if we have created teacher and now one student joins master degree with becoming teacher then what??

* Ans :  just make subclass from  teacher so that student will become teacher
* Now student is teacher as well as youtuber then what???
* -just use multiple inheritance for these three relations

In [38]:
# Q1
class Person():
    def __init__(self,name):
        self.name=name
class Teacher(Person):
    def __init__(self,name,subject):
        super().__init__(name)
        self.subject=subject
class Student(Person):
    def __init__(self,name,classNo):
        super().__init__(name)
        self.classNo=classNo
class Youtuber(Person):
    def __init__(self,name,channelName):
        super().__init__(name)
        self.channelName=channelName
        
p1=Person("raziq")
print(vars(p1))

t1=Teacher("raziq","Maths")
print(vars(t1))

{'name': 'raziq'}
{'name': 'raziq', 'subject': 'Maths'}

In [39]:
# Question 02
class Teacher:
    def teachers_action(self):
        print("I can teach")


class Engineer:
    def Engineers_action(self):
        print("I can code")


class Youtuber:
    def youtubers_action(self):
        print("I can code and teach")


class Person(Teacher, Engineer, Youtuber):
    print("I can code teach and youtube as well")
    pass



coder = Person()
coder.teachers_action()
coder.Engineers_action()
coder.youtubers_action()

I can code teach and youtube as well
I can teach
I can code
I can code and teach

## Exercise 19: Raise Exception And Finally
* Create a custom exception AdultException.

* Create a class Person with attributes name and age in it.

* Create a function get_minor_age() in the class. It throws an exception if the person is adult otherwise returns age.

* Create a function display_person() which prints the age and name of a person.

* let us say,

* if age>18 
    he is major
* else
    raise exception

* create cusomException named ismajor and raise it if age<18.

In [40]:
class AdultException(Exception):
    pass
class Person():
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def get_minor_class(self):
        if (self.age)>=18:
            raise AdultException
        else:
            return self.age
    def display_person(self):
        try :
            print(f"{self.get_minor_class()}")
        except AdultException:
            print("Person is an Adult")
        finally:
            print(f'{self.name}')

In [41]:
p1=Person("razq",13)
p1.display_person()

13
razq

## Exercise21 : Generators
Print Square Sequence using yield

In [42]:
def square():
    i=1
    while True:
       yield i*i
       i +=1
for i in square():
    if i>25:
        break
    print(i)

1
4
9
16
25

## Example 22:List Set and Dictionery
* 1) Create a Dictionary which contains the Binary values mapping with numbers found in the below integer and binary and save it   in binary_dict.
* Example :

    integer = [0, 1, 2, 3, 4]
    binary = ["0", "1", "10", "11", "100"]
    binary_dict = {0:"0", 1:"1", 2:"10", 3: "11", 4:"100"}
* 2) Create a List which contains additive inverse of a given integer list. An additive inverse a for an integer i is a number      such that:
* a + i = 0
* Example:

* integer = [1, -1, 2, 3, 5, 0, -7]
* additive_inverse = [-1, 1, -2, -3, -5, 0, 7]
* 3) Create a set which only contains unique sqaures from a given a integer list.
* integer = [1, -1, 2, -2, 3, -3]
* sq_set = {1, 4, 9}

In [43]:
# Q1
integer = [0, 1, 2, 3, 4]
import numpy as np
binary_array = np.array([bin(x)[2:] for x in integer])
print(integer)
print(binary_array)
dictionary = dict(zip(integer, binary_array))
print(dictionary)

[0, 1, 2, 3, 4]
['0' '1' '10' '11' '100']
{0: '0', 1: '1', 2: '10', 3: '11', 4: '100'}

In [49]:
# Q2
integer = [0, 1, 2, 3, 4] 
additive_inverse=[-i for i in integer]
print(integer)
print(additive_inverse)

[0, 1, 2, 3, 4]
[0, -1, -2, -3, -4]

In [59]:
# Q3 
integer = [1, -1, 2, -2, 3, -3]
squared=[i*i for i in integer if i>0]
print(squared)

[1, 4, 9]

## Exercise 23 : Sets and Frozen Sets
* 1) create any set and try to use frozenset(setname)

* 2) Find the elements in a given set that are not in another set

    set1 = {1,2,3,4,5}
    set2 = {4,5,6,7,8}

    diffrence between set1 and set2 is {1,2,3}

In [66]:
# Q1
numbers=[1,2,34,5,6,8]
frozent_sets=frozenset(numbers)
print(frozent_sets)
dir(frozent_sets)
# Q2
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1.difference(set2)

frozenset({1, 2, 34, 5, 6, 8})

{1, 2, 3}