 ## Exercise 3 : Numbers in python
* 1) You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
* 2)You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out     using python, how many dollars is the shopkeeper going to give you back?
* 3)You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)
* 4)Print binary representation of number 17

In [6]:
## Q1
## Q2 
## Q3
## Q4
print(format(17,"b"))
print(format(2,"b"))

10001
10

 ## Exercise 4: String in Python
* 1) Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
* 2) Create a variable to store the string "Earth revolves around the sun"
* 3) Print "revolves" using slice operator
* 4) Print "sun" using negative index
* 5) Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
* 6) I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [11]:
## Q1
street=str(14);
city="karachi";
country="Pakistan";
entire_address=street +"\n"+city+"\n"+"country"
entire_address_1=f'''
{street}\n{city}\n{country}
'''
print(entire_address)
print(entire_address_1)

14
karachi
country

14
karachi
Pakistan

In [15]:
## Q2 
a="Earth revolves around the sun"
b=a[6:14]
print(b)
print(a[-3:])

revolves
sun

In [19]:
## Q6
s='maine 200 banana khaye'
y=s.replace("200 banana","10 samosa")
print(y)

maine 10 samosa khaye

## Exercise: Python Lists
* Q 1 ) Let us say your expense for every month are listed below,
* January - 2200
* February - 2350
* March - 2600
* April - 2130
* May - 2190
* Create a list to store these monthly expenses and using that find out,

* 1. In Feb, how many dollars you spent extra compare to January?
* 2. Find out your total expense in first quarter (first three months) of the year.
* 3. Find out if you spent exactly 2000 dollars in any month
* 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
* 5. You returned an item that you bought in a month of April and
* got a refund of 200$. Make a correction to your monthly expense list based on this
* Q2 ) You have a list of your favourite marvel super heros.
*     heros=['spider man','thor','hulk','iron man','captain america']
*     Using this find out,

*  1. Length of the list
*  2. Add 'black panther' at the end of this list
*  3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
* 4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
* 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [41]:
## Q1 
expense=[2200,2350,2600,2130,2190]
extra_feb=expense[1]-expense[0]
print(extra_feb)
first_quarter=expense[0] + expense[1] + expense[2]
print(first_quarter)
find_expense=2000 in expense
print(find_expense)
expense.append(1980)
print(expense)
adjusted=expense[3]-200
expense[3]=adjusted
print(expense)

150
7150
False
[2200, 2350, 2600, 2130, 2190, 1980]
[2200, 2350, 2600, 1930, 2190, 1980]

In [66]:
## Q2
heros=['spider man','thor','hulk','iron man','captain america']
dir(heros)
len(heros)
heros.append('black panther')
print(heros)
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)
heros[1:3]=["doctor strange"]
print(heros)
heros.sort()
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

## * Exercise: Python for loop
* After flipping a coin 10 times you got this result,
* result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
* Using for loop figure out how many times you got heads

* Print square of all numbers between 1 to 10 except even numbers
* Your monthly expense list (from Jan to May) looks like this,
* expense_list = [2340, 2500, 2100, 3100, 2980]
* Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If   expense is not found then it should print that as well.

* Lets say you are running a 5 km race. Write a program that,

* Upon completing each 1 km asks you "are you tired?"
* If you reply "yes" then it should break and print "you didn't finish the race"
* If you reply "no" then it should continue and ask "are you tired" on every km
* If you finish all 5 km then it should print congratulations message
* Write a program that prints following shape

* '   *   '
* '   **  '
* '   ***  '
* '   ****  '
* '   ***** '

In [73]:
## Question 1
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count=0
for i in result:
    if i=="heads":
        count +=1
print(count)

tails

In [74]:
## Question 2
for i in range(10):
    if i%2!=0:
        print(i**2)

1
9
25
49
81

In [ ]:
## Question 3